<html>
  <head>
    <title></title>
  </head>
  <body *ngIf="ratio" data-status="yes">
    <div id="header">
      <p id="title">{{ blog.title }}</p>
      <p id="author">{{ blog.author }}</p>
    </div>

    <div class="content">
      <h3>Content</h3>
      <p>
        {{ blog.content }}
      </p>
    </div>

    <div id="footer">
      <a routerLink="/"><p id="blogs">Back to blogs >></p></a>
    </div>
  </body>
  <body *ngIf="ratio === 'false'" data-status="no">
    <div id="header">
      <p id="title">{{ blog.title }}</p>
      <p id="author">{{ blog.author }}</p>
    </div>

    <div class="content">
      <h3>Content</h3>
      <p>
        {{ blog.content }}
      </p>
    </div>

    <div id="footer">
      <a routerLink="/"><p id="blogs">Back to blogs >></p></a>
    </div>
  </body>
</html>
